@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

[aria-label="Now playing view"] {
  display: none;
}

._Cq69xKZBtHaaeMZXIdk {
  display: none;
}

.lyrics-lyricsContent-text {
    font-family: "Montserrat", serif !important;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.75rem;
}

.lyrics-lyrics-contentContainer {
  transform: scale(1.1);
}
